**/__pycache__/
**/.ipynb_checkpoints/
**/*.egg-info
.env
*.log
*.sqlite3
*.db
.DS_Store
*.pkl
*.h5
*.ckpt
*.tmp
*.bak
*.swp
*.swo
.idea/
.vscode/
dist/
build/
*.coverage
*.pyc
*.csv

.venv/
!tests/**/*.csv
models/
data/
mlruns/
raw-data/
notebooks/renv/library
notebooks/renv/staging
notebooks/renv/local/
notebooks/renv/cellar/
notebooks/renv/lock/
notebooks/renv/python/
notebooks/renv/sandbox/

